{% extends "base.html" %}
{% block body %}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Todos os Perfis</strong>
        </div>
        {% if perfis %}
        <ul>
            {% for perfil in perfis %}
            <li>
                <a href="/perfil/{{perfil.id}}">{{perfil.nome}} </a>/ {{perfil.email}}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhum perfil cadastrado!!</p>
        {% endif %}
    </div>

    <div class="panel panel-default">
        {% if perfil_logado.convites_recebidos.count %}
        <div class="panel-heading">
            <strong>
                Você tem
                {{ perfil_logado.convites_recebidos.count }}
                convite{{ perfil_logado.convites_recebidos.count|pluralize }}
                Aguardando Aprovação
            </strong>
        </div>
        
        <ul class="list-group">
            {% for convite in perfil_logado.convites_recebidos.all %}
            <li class="list-group-item">
                {{ convite.solicitante.nome }}
                <a href="{% url 'aceitar' convite.id %}" class="pull-right">Aceitar</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="panel-body">
            <p>Nenhum convite recebido</p>
        </div>
        {% endif %}
    </div>

    <div class="panel panel-default">
        {% if perfil_logado.contatos.count %}
        <div class="panel-heading">
            <strong>
                Você tem
                {{ perfil_logado.contatos.count }}
                contato{{ perfil_logado.contatos.count|pluralize }}
            </strong>
        </div>
        
        <ul class="list-group">
            {% for convite in perfil_logado.convite.all %}
                <a href="{% url 'exibir' contato.id %}" class="list-group-item">{{ convite.nome }} // {{ convite.email }}</a>
            {% endfor %}
        </ul>
        {% else %}
        <div class="panel-body">
            <p>Nenhum contato</p>
        </div>
        {% endif %}
    </div>



</div>
{% endblock %}