<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ConnectedIn</title>
</head>
<body>
    <h1>Index</h1>
    {% if perfis %}
    <ul>
        {% for perfil in perfis %}
        <li>
            <a href="/perfil/{{perfil.id}} ">{{perfil.nome}} </a>/ {{perfil.email}}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Nenhum perfil cadastrado!!</p>
    {% endif %}
</body>
</html>